Repository pagopa/developer-portal-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, packages, workflows, infra, changeset, cms

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
docs:
- changed-files:
  - any-glob-to-any-file: docs/**
  - any-glob-to-any-file: '**/*.md'


# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

# packages

packages:
- changed-files:
  - any-glob-to-any-file: packages/**

workflows:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
  
infra:
- changed-files:
  - any-glob-to-any-file: apps/infrastructure/**
  
changeset:
- changed-files:
  - any-glob-to-any-file: .changeset/**

cms:
- changed-files:
  - any-glob-to-any-file: apps/cms/**

update name in file
  apps/strapi-cms/database/migrations/2025.15.09T12.00.00.substitute-ckeditor-parts-with-ckeditorhtml-parts.js
Labels: none

Add tags to cms
  apps/strapi-cms/src/api/product/content-types/product/schema.json
  apps/strapi-cms/src/api/tag/content-types/tag/schema.json
  apps/strapi-cms/src/api/tag/controllers/tag.ts
  apps/strapi-cms/src/api/tag/routes/tag.ts
  apps/strapi-cms/src/api/tag/services/tag.ts
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
Labels: none

add changeset
  .changeset/cruel-bees-wait.md
Labels: docs, changeset

fix migration issues for multiple entries
  apps/strapi-cms/database/migrations/2025.15.09T12.00.00.substitute-ckeditor-parts-with-ckeditorhtml-parts.js
Labels: none

add bool check to activate filters
  apps/strapi-cms/src/api/tutorial-list-page/content-types/tutorial-list-page/schema.json
Labels: none

add changeset
  .changeset/public-suits-rhyme.md
Labels: docs, changeset

Update apps/strapi-cms/src/api/tag/controllers/tag.ts
  apps/strapi-cms/src/api/tag/controllers/tag.ts
Labels: none

[DEV-2849] Add tags to cms (#23)
  .changeset/cruel-bees-wait.md
  apps/strapi-cms/src/api/product/content-types/product/schema.json
  apps/strapi-cms/src/api/tag/content-types/tag/schema.json
  apps/strapi-cms/src/api/tag/controllers/tag.ts
  apps/strapi-cms/src/api/tag/routes/tag.ts
  apps/strapi-cms/src/api/tag/services/tag.ts
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
Labels: docs, changeset

[DEV-2854] Add flag to toggle filters in tutorials list page (#24)
  .changeset/public-suits-rhyme.md
  apps/strapi-cms/src/api/tutorial-list-page/content-types/tutorial-list-page/schema.json
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/add-lifecycle-sync-workflows.md
  .changeset/brown-pianos-turn.md
  .changeset/cruel-bees-wait.md
  .changeset/public-suits-rhyme.md
  .changeset/true-items-argue.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release (#15)
  .changeset/add-lifecycle-sync-workflows.md
  .changeset/brown-pianos-turn.md
  .changeset/cruel-bees-wait.md
  .changeset/public-suits-rhyme.md
  .changeset/true-items-argue.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Add markdown part
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  apps/strapi-cms/src/components/parts/markdown.json
Labels: none

add changeset
  .changeset/proud-guests-kneel.md
Labels: docs, changeset

Disable all validators
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
  apps/strapi-cms/src/utils/validateProductPresence.ts
Labels: none

Make all fields optional
  apps/strapi-cms/src/api/api-data-list-page/content-types/api-data-list-page/schema.json
  apps/strapi-cms/src/api/api-data/content-types/api-data/schema.json
  apps/strapi-cms/src/api/case-history/content-types/case-history/schema.json
  apps/strapi-cms/src/api/guide-list-page/content-types/guide-list-page/schema.json
  apps/strapi-cms/src/api/guide/content-types/guide/schema.json
  apps/strapi-cms/src/api/news-item/content-types/news-item/schema.json
  apps/strapi-cms/src/api/overview/content-types/overview/schema.json
  apps/strapi-cms/src/api/product/content-types/product/schema.json
  apps/strapi-cms/src/api/quickstart-guide-item/content-types/quickstart-guide-item/schema.json
  apps/strapi-cms/src/api/quickstart-guide/content-types/quickstart-guide/schema.json
  apps/strapi-cms/src/api/release-note/content-types/release-note/schema.json
  apps/strapi-cms/src/api/solution-list-page/content-types/solution-list-page/schema.json
  apps/strapi-cms/src/api/solution/content-types/solution/schema.json
  apps/strapi-cms/src/api/tutorial-list-page/content-types/tutorial-list-page/schema.json
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  apps/strapi-cms/src/api/webinar-category/content-types/webinar-category/schema.json
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
Labels: none

add pathtofile
  apps/strapi-cms/src/components/parts/markdown.json
Labels: none

Add use-case type
  apps/strapi-cms/src/api/use-case/content-types/use-case/lifecycles.ts
  apps/strapi-cms/src/api/use-case/content-types/use-case/schema.json
  apps/strapi-cms/src/api/use-case/controllers/use-case.ts
  apps/strapi-cms/src/api/use-case/routes/use-case.ts
  apps/strapi-cms/src/api/use-case/services/use-case.ts
Labels: none

Add new type UseCase
  .changeset/lucky-tables-hang.md
Labels: docs, changeset

Add new tutorial list and tutorial cards
  apps/strapi-cms/src/api/overview/content-types/overview/schema.json
  apps/strapi-cms/src/components/overview/tutorial-card.json
  apps/strapi-cms/src/components/overview/tutorials-list.json
Labels: none

add changeset
  .changeset/small-hairs-film.md
Labels: docs, changeset

Fix collection name
  apps/strapi-cms/src/api/use-case/content-types/use-case/schema.json
Labels: none

Fix environment variable name and remove ghost code
  .changeset/hungry-groups-say.md
  apps/strapi-cms/.env.default
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: docs, changeset

Fix environment variable name and remove ghost code (#28)
  .changeset/hungry-groups-say.md
  apps/strapi-cms/.env.default
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/hungry-groups-say.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release (#29)
  .changeset/hungry-groups-say.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Implement new type use case list page
  apps/strapi-cms/src/api/product/content-types/product/schema.json
  apps/strapi-cms/src/api/use-case-list-page/content-types/use-case-list-page/lifecycles.ts
  apps/strapi-cms/src/api/use-case-list-page/content-types/use-case-list-page/schema.json
  apps/strapi-cms/src/api/use-case-list-page/controllers/use-case-list-page.ts
  apps/strapi-cms/src/api/use-case-list-page/routes/use-case-list-page.ts
  apps/strapi-cms/src/api/use-case-list-page/services/use-case-list-page.ts
Labels: none

Add changeset
  .changeset/tricky-ducks-wish.md
Labels: docs, changeset

add required to card title
  apps/strapi-cms/src/components/overview/tutorial-card.json
Labels: none

Add header image and change image attribute name to coverImage
  apps/strapi-cms/src/api/use-case/content-types/use-case/schema.json
Labels: none

modify tutorial section and tutorials
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  apps/strapi-cms/src/components/overview/tutorial-section.json
Labels: none

add changeset
  .changeset/crazy-mirrors-play.md
Labels: docs, changeset

Remove tutorial reference from use-case modules
  apps/strapi-cms/src/api/use-case/controllers/use-case.ts
  apps/strapi-cms/src/api/use-case/routes/use-case.ts
  apps/strapi-cms/src/api/use-case/services/use-case.ts
Labels: none

[DEV-2914] Add use-case type (#26)
  .changeset/lucky-tables-hang.md
  apps/strapi-cms/src/api/use-case/content-types/use-case/lifecycles.ts
  apps/strapi-cms/src/api/use-case/content-types/use-case/schema.json
  apps/strapi-cms/src/api/use-case/controllers/use-case.ts
  apps/strapi-cms/src/api/use-case/routes/use-case.ts
  apps/strapi-cms/src/api/use-case/services/use-case.ts
Labels: docs, changeset

Remove tutorials reference from comments
  apps/strapi-cms/src/api/use-case-list-page/controllers/use-case-list-page.ts
  apps/strapi-cms/src/api/use-case-list-page/routes/use-case-list-page.ts
  apps/strapi-cms/src/api/use-case-list-page/services/use-case-list-page.ts
Labels: none

[DEV-2989] Implement use-case-list-page type (#30)
  .changeset/tricky-ducks-wish.md
  apps/strapi-cms/src/api/product/content-types/product/schema.json
  apps/strapi-cms/src/api/use-case-list-page/content-types/use-case-list-page/lifecycles.ts
  apps/strapi-cms/src/api/use-case-list-page/content-types/use-case-list-page/schema.json
  apps/strapi-cms/src/api/use-case-list-page/controllers/use-case-list-page.ts
  apps/strapi-cms/src/api/use-case-list-page/routes/use-case-list-page.ts
  apps/strapi-cms/src/api/use-case-list-page/services/use-case-list-page.ts
Labels: docs, changeset

refactor bool name
  apps/strapi-cms/src/components/overview/tutorial-section.json
Labels: none

Update apps/strapi-cms/src/components/parts/markdown.json
  apps/strapi-cms/src/components/parts/markdown.json
Labels: none

[DEV-2910] add markdown part to tutorials (#25)
  .changeset/proud-guests-kneel.md
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  apps/strapi-cms/src/components/parts/markdown.json
Labels: docs, changeset

[DEV-2919] modify tutorial section (#31)
  .changeset/crazy-mirrors-play.md
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  apps/strapi-cms/src/components/overview/tutorial-section.json
Labels: docs, changeset

Add subtitle field
  apps/strapi-cms/src/api/use-case/content-types/use-case/schema.json
Labels: none
