Repository pagopa/developer-portal-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, packages, workflows, infra, changeset, cms

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
docs:
- changed-files:
  - any-glob-to-any-file: docs/**
  - any-glob-to-any-file: '**/*.md'


# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

# packages

packages:
- changed-files:
  - any-glob-to-any-file: packages/**

workflows:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
  
infra:
- changed-files:
  - any-glob-to-any-file: apps/infrastructure/**
  
changeset:
- changed-files:
  - any-glob-to-any-file: .changeset/**

cms:
- changed-files:
  - any-glob-to-any-file: apps/cms/**

Update strapi version
  apps/strapi-cms/Dockerfile
  apps/strapi-cms/package-lock.json
  apps/strapi-cms/package.json
  package-lock.json
Labels: root

add changeset
  .changeset/cold-ligers-hang.md
Labels: docs, changeset

Add webinar header image to cms
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
Labels: none

add changeset
  .changeset/loose-grapes-call.md
Labels: docs, changeset

Update .changeset/loose-grapes-call.md
  .changeset/loose-grapes-call.md
Labels: docs, changeset

Add .node-version file to fix changelog pipeline error
  .node-version
Labels: root

Setup and add changeset
  .changeset/README.md
  .changeset/config.json
  .changeset/floppy-symbols-attend.md
Labels: docs, changeset

Add changeset configuration
  .changeset/config.json
Labels: changeset

Fix changelog workflow permissions
  .github/workflows/changelog.yaml
Labels: workflows

Update CHANGELOG and prepare next release
  .changeset/loose-grapes-call.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

[DEV-2354] Remove apiSoapUrl from ApiData schema (#2)
  .changeset/README.md
  .changeset/floppy-symbols-attend.md
  apps/strapi-cms/src/api/api-data/content-types/api-data/schema.json
Labels: docs, changeset

[DEV-2253] update strapi version to 4.25.22 (#5)
  .changeset/cold-ligers-hang.md
  apps/strapi-cms/Dockerfile
  apps/strapi-cms/package-lock.json
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release
  .changeset/cold-ligers-hang.md
  .changeset/floppy-symbols-attend.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Add GITHUB_PAT variable to .env.default for GitHub authentication
  apps/strapi-cms/.env.default
Labels: none

Update CHANGELOG and prepare next release (#11)
  .changeset/cold-ligers-hang.md
  .changeset/floppy-symbols-attend.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

pr comments
  apps/strapi-cms/.env.default
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

Update apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

Update apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
Labels: none

Update apps/strapi-cms/.env.default
  apps/strapi-cms/.env.default
Labels: none

[DEV-2510] Add GitHub workflow triggers to lifecycle hooks for guides, solutions… (#12)
  .changeset/add-lifecycle-sync-workflows.md
  apps/strapi-cms/.env.default
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/add-lifecycle-sync-workflows.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update get-started instructions
  README.md
Labels: root, docs

Add changeset
  .changeset/brown-pianos-turn.md
  apps/strapi-cms/Dockerfile
  apps/strapi-cms/config/database.ts
Labels: docs, changeset

Revert changes
  apps/strapi-cms/Dockerfile
  apps/strapi-cms/config/database.ts
Labels: none

Update node image to be architecture agnostic
  apps/strapi-cms/Dockerfile
Labels: none

Add changeset
  .changeset/true-items-argue.md
Labels: docs, changeset

Update readme
  README.md
Labels: root, docs

[DEV-2769] Update README get-started instructions (#16)
  .changeset/brown-pianos-turn.md
  README.md
Labels: root, docs, changeset

[DEV-2770] Change NODE_IMAGE in Dockerfile to be architecture agnostic (#17)
  .changeset/true-items-argue.md
  apps/strapi-cms/Dockerfile
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/add-lifecycle-sync-workflows.md
  .changeset/brown-pianos-turn.md
  .changeset/true-items-argue.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Add cheditorhtml to strapi
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  apps/strapi-cms/src/components/parts/ck-editor-html.json
Labels: none

add changeset
  .changeset/sixty-kids-open.md
Labels: docs, changeset

Apply suggestions from code review
  .changeset/sixty-kids-open.md
  apps/strapi-cms/src/components/parts/ck-editor-html.json
Labels: docs, changeset

Update .changeset/sixty-kids-open.md
  .changeset/sixty-kids-open.md
Labels: docs, changeset

Add migration to substitute ckeditor components
  apps/strapi-cms/database/migrations/2025.15.09T12.00.00.substitute-ckeditor-parts-with-ckeditorhtml-parts.js
Labels: none

Add changeset
  .changeset/thirty-wasps-jump.md
Labels: docs, changeset

remove ckeditor
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  apps/strapi-cms/src/components/parts/ck-editor.json
  package-lock.json
Labels: root

Add changeset
  .changeset/crazy-sheep-occur.md
Labels: docs, changeset

Update .changeset/thirty-wasps-jump.md
  .changeset/thirty-wasps-jump.md
Labels: docs, changeset

Update apps/strapi-cms/database/migrations/2025.15.09T12.00.00.substitute-ckeditor-parts-with-ckeditorhtml-parts.js
  apps/strapi-cms/database/migrations/2025.15.09T12.00.00.substitute-ckeditor-parts-with-ckeditorhtml-parts.js
Labels: none
