Repository pagopa/developer-portal-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, packages, workflows, infra, changeset, cms

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
docs:
- changed-files:
  - any-glob-to-any-file: docs/**
  - any-glob-to-any-file: '**/*.md'


# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

# packages

packages:
- changed-files:
  - any-glob-to-any-file: packages/**

workflows:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
  
infra:
- changed-files:
  - any-glob-to-any-file: apps/infrastructure/**
  
changeset:
- changed-files:
  - any-glob-to-any-file: .changeset/**

cms:
- changed-files:
  - any-glob-to-any-file: apps/cms/**

add changeset
  .changeset/violet-ideas-laugh.md
Labels: docs, changeset

Apply suggestion from @marcobottaro
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
Labels: none

[DEV-3119] Fix guide custom validator (#48)
  .changeset/violet-ideas-laugh.md
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
Labels: docs, changeset

add tags to apidata schema
  apps/strapi-cms/src/api/api-data/content-types/api-data/schema.json
Labels: none

Add changeset
  .changeset/true-bags-worry.md
Labels: docs, changeset

Add GitHub workflow triggers for guide and solution list pages after updates
  .changeset/clear-animals-punch.md
  apps/strapi-cms/src/api/guide-list-page/content-types/guide-list-page/lifecycles.ts
  apps/strapi-cms/src/api/solution-list-page/content-types/solution-list-page/lifecycles.ts
Labels: docs, changeset

description
  apps/strapi-cms/src/api/guide-list-page/content-types/guide-list-page/lifecycles.ts
  apps/strapi-cms/src/api/solution-list-page/content-types/solution-list-page/lifecycles.ts
Labels: none

[DEV-3125] Add tags to ApiData (#49)
  .changeset/true-bags-worry.md
  apps/strapi-cms/src/api/api-data/content-types/api-data/schema.json
Labels: docs, changeset

Implement immutability check for dirName and set oldDirName on create
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/components/common/guide-version.json
Labels: none

add playerCoverImage and changeset
  .changeset/cute-shirts-create.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
Labels: docs, changeset

add playerCoverImage and changeset (#51)
  .changeset/cute-shirts-create.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/cute-shirts-create.md
  .changeset/mighty-pugs-begin.md
  .changeset/true-bags-worry.md
  .changeset/violet-ideas-laugh.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

remove strapi-update-static-content plugin
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  package-lock.json
Labels: root

add changeset
  .changeset/breezy-signs-press.md
Labels: docs, changeset

upgrade v4
  apps/strapi-cms/package.json
  package-lock.json
Labels: root

Update CHANGELOG and prepare next release (#47)
  .changeset/cute-shirts-create.md
  .changeset/mighty-pugs-begin.md
  .changeset/true-bags-worry.md
  .changeset/violet-ideas-laugh.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

upgrade to v5
  apps/strapi-cms/config/database.ts
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/api-data-list-page/content-types/api-data-list-page/lifecycles.ts
  apps/strapi-cms/src/api/api-data/content-types/api-data/lifecycles.ts
  apps/strapi-cms/src/api/guide-list-page/content-types/guide-list-page/lifecycles.ts
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/overview/content-types/overview/lifecycles.ts
  apps/strapi-cms/src/api/quickstart-guide/content-types/quickstart-guide/lifecycles.ts
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
  apps/strapi-cms/src/api/tutorial-list-page/content-types/tutorial-list-page/lifecycles.ts
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/lifecycles.ts
  apps/strapi-cms/src/api/use-case-list-page/content-types/use-case-list-page/lifecycles.ts
  apps/strapi-cms/src/api/use-case/content-types/use-case/lifecycles.ts
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
  package-lock.json
Labels: root

[DEV-3144] remove unused plugin (#52)
  .changeset/breezy-signs-press.md
  apps/strapi-cms/config/plugins.ts
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release
  .changeset/breezy-signs-press.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

strapi 5 with ckeditor
  apps/strapi-cms/package-lock.json
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  apps/strapi-cms/src/components/parts/ck-editor.json
  package-lock.json
Labels: root

fix issue with extra field
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  package-lock.json
Labels: root

Update CHANGELOG and prepare next release (#53)
  .changeset/breezy-signs-press.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

add changeset
  .changeset/perky-trams-sip.md
Labels: docs, changeset

Enhance GitHub workflow triggers for guides, release notes, and solutions with directory-specific syncing
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

middleware working for api-data
  apps/strapi-cms/src/api/api-data/content-types/api-data/lifecycles.ts
  apps/strapi-cms/src/index.ts
Labels: none

Refactor gitub workflow triggers
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
Labels: none

Add changest
  .changeset/tidy-lions-decide.md
Labels: docs, changeset

middleware working for all contexts with product validation
  apps/strapi-cms/src/index.ts
Labels: none

remove debug log
  apps/strapi-cms/src/index.ts
Labels: none

refactor from switch to array check
  apps/strapi-cms/src/index.ts
Labels: none

remove unused files, add changeset
  .changeset/tender-kings-yell.md
  apps/strapi-cms/src/api/api-data-list-page/content-types/api-data-list-page/lifecycles.ts
  apps/strapi-cms/src/api/guide-list-page/content-types/guide-list-page/lifecycles.ts
  apps/strapi-cms/src/api/overview/content-types/overview/lifecycles.ts
  apps/strapi-cms/src/api/quickstart-guide/content-types/quickstart-guide/lifecycles.ts
  apps/strapi-cms/src/api/tutorial-list-page/content-types/tutorial-list-page/lifecycles.ts
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/lifecycles.ts
  apps/strapi-cms/src/api/use-case-list-page/content-types/use-case-list-page/lifecycles.ts
  apps/strapi-cms/src/api/use-case/content-types/use-case/lifecycles.ts
Labels: docs, changeset

add middleware for release note
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/index.ts
Labels: none

add changeset
  .changeset/young-carrots-arrive.md
Labels: docs, changeset

add solution to middleware
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
  apps/strapi-cms/src/index.ts
Labels: none

Update hook add helper
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

refactor: implement guide version validation and middleware for product association
  .changeset/large-pears-double.md
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/utils/validateGuideVersions.ts
Labels: docs, changeset

add changeset
  .changeset/rich-flowers-obey.md
Labels: docs, changeset

refactor(webinar): implement validation and Active Campaign integration for webinars
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/utils/activeCampaignWebinar.ts
  apps/strapi-cms/src/utils/validateWebinarDates.ts
  apps/strapi-cms/src/utils/validateWebinarSlug.ts
Labels: none

add changeset for webinar validation and Active Campaign integration
  .changeset/warm-mirrors-matter.md
Labels: docs, changeset

[DEV-3221] Refactor GitHub workflow triggers (#56)
  .changeset/tidy-lions-decide.md
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: docs, changeset
