Repository pagopa/developer-portal-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, packages, workflows, infra, changeset, cms

add changeset
  .changeset/funny-friends-stare.md
Labels: docs, changeset

update lock.json
  package-lock.json
Labels: root

[DEV-3933] fix webinar validation (#97)
  .changeset/funny-friends-stare.md
  apps/strapi-cms/src/utils/validateWebinarDates.ts
  apps/strapi-cms/src/utils/validateWebinarSlug.ts
  package-lock.json
Labels: root, docs, changeset

Upgrade Strapi and Koa dependencies; update README and clean command for local setup
  .changeset/every-carrots-pull.md
  README.md
  apps/strapi-cms/package.json
  package-lock.json
  package.json
Labels: root, docs, changeset

Update Node.js and npm CLI versions in README
  README.md
Labels: root, docs

[DEV-3972] Upgrade Strapi and Koa dependencies; update README and clean command for local setup (#98)
  .changeset/every-carrots-pull.md
  README.md
  apps/strapi-cms/package.json
  package-lock.json
  package.json
Labels: root, docs, changeset

Fix webinar documentId retrieval in validation functions
  apps/strapi-cms/src/utils/validateWebinarDates.ts
  apps/strapi-cms/src/utils/validateWebinarSlug.ts
Labels: none

Add changeset
  .changeset/lovely-candles-stop.md
Labels: docs, changeset

[DEV-3988] Fix webinars put (#99)
  .changeset/lovely-candles-stop.md
  apps/strapi-cms/src/utils/validateWebinarDates.ts
  apps/strapi-cms/src/utils/validateWebinarSlug.ts
Labels: docs, changeset

Fix guides validation, add changeset
  .changeset/five-doors-matter.md
  apps/strapi-cms/src/middlewares/documentHooks.ts
Labels: docs, changeset

refactor code
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/middlewares/documentHooks.ts
  apps/strapi-cms/src/utils/validateProductPresence.ts
Labels: none

fix double webinar creation
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
  apps/strapi-cms/src/index.ts
Labels: none

add changeset
  .changeset/every-mirrors-joke.md
Labels: docs, changeset

reverti update to schema file
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
Labels: none

Apply suggestions from code review
  apps/strapi-cms/src/index.ts
Labels: none

[DEV-3400] Fix guide validation (#100)
  .changeset/five-doors-matter.md
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/middlewares/documentHooks.ts
  apps/strapi-cms/src/utils/validateProductPresence.ts
Labels: docs, changeset

[DEV-3991] Fix to double webinar generation (#101)
  .changeset/every-mirrors-joke.md
  apps/strapi-cms/src/index.ts
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/every-carrots-pull.md
  .changeset/every-mirrors-joke.md
  .changeset/few-donuts-laugh.md
  .changeset/five-doors-matter.md
  .changeset/floppy-poems-fold.md
  .changeset/funny-friends-stare.md
  .changeset/hungry-regions-warn.md
  .changeset/long-bars-joke.md
  .changeset/lovely-candles-stop.md
  .changeset/perky-trams-sip.md
  .changeset/rich-flowers-obey.md
  .changeset/tender-kings-yell.md
  .changeset/upset-otters-raise.md
  .changeset/violet-eels-cross.md
  .changeset/warm-mirrors-matter.md
  .changeset/witty-tables-change.md
  .changeset/young-carrots-arrive.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CODEOWNERS to include Sebastiano-Bertolin as an owner
  .github/CODEOWNERS
Labels: none

Add dynamic run-name for deployment workflow based on environment input
  .github/workflows/deploy_cms.yaml
Labels: workflows

Add dynamic run-name for deployment workflow based on environment input (#103)
  .github/workflows/deploy_cms.yaml
Labels: workflows

Update CHANGELOG and prepare next release (#95)
  .changeset/every-carrots-pull.md
  .changeset/every-mirrors-joke.md
  .changeset/few-donuts-laugh.md
  .changeset/five-doors-matter.md
  .changeset/floppy-poems-fold.md
  .changeset/funny-friends-stare.md
  .changeset/hungry-regions-warn.md
  .changeset/long-bars-joke.md
  .changeset/lovely-candles-stop.md
  .changeset/perky-trams-sip.md
  .changeset/rich-flowers-obey.md
  .changeset/tender-kings-yell.md
  .changeset/upset-otters-raise.md
  .changeset/violet-eels-cross.md
  .changeset/warm-mirrors-matter.md
  .changeset/witty-tables-change.md
  .changeset/young-carrots-arrive.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Remove "Deploy Strapi V5" workflow
  .github/workflows/deploy_strapi-v5.yaml
Labels: workflows

Remove "Deploy Strapi V5" workflow (#104)
  .github/workflows/deploy_strapi-v5.yaml
Labels: workflows

Add validation on quickstart
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/utils/validateQuickstartGuide.ts
Labels: none

code refactor
  apps/strapi-cms/src/utils/validateQuickstartGuide.ts
Labels: none

fixed issue with refactor
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/utils/validateQuickstartGuide.ts
Labels: none

add changeset
  .changeset/honest-humans-tickle.md
Labels: docs, changeset

Refactor documentHooks.ts to enhance query logic and add debug logging
  .changeset/better-flowers-worry.md
  apps/strapi-cms/src/middlewares/documentHooks.ts
Labels: docs, changeset

Fix console log
  apps/strapi-cms/src/middlewares/documentHooks.ts
Labels: none

[DEV-4073] Refactor documentHooks.ts to enhance query logic and add debug logging (#106)
  .changeset/better-flowers-worry.md
  apps/strapi-cms/src/middlewares/documentHooks.ts
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/better-flowers-worry.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release (#107)
  .changeset/better-flowers-worry.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Potential fix for pull request finding
  .changeset/honest-humans-tickle.md
Labels: docs, changeset

Potential fix for pull request finding
  apps/strapi-cms/src/utils/validateQuickstartGuide.ts
Labels: none

Add script to update directory names in the database
  apps/strapi-cms/scripts/update_dir_names.sh
Labels: none

Add changeset
  .changeset/metal-snakes-brush.md
Labels: docs, changeset

Enhance update_dir_names.sh script with error handling and usage instructions
  apps/strapi-cms/scripts/update_dir_names.sh
Labels: none

Fix SQL update statements in update_dir_names.sh to include WHERE clauses for solutions and release notes
  apps/strapi-cms/scripts/update_dir_names.sh
Labels: none

fixes required by reviewer
  apps/strapi-cms/src/utils/validateQuickstartGuide.ts
Labels: none

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
docs:
- changed-files:
  - any-glob-to-any-file: docs/**
  - any-glob-to-any-file: '**/*.md'


# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

# packages

packages:
- changed-files:
  - any-glob-to-any-file: packages/**

workflows:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
  
infra:
- changed-files:
  - any-glob-to-any-file: apps/infrastructure/**
  
changeset:
- changed-files:
  - any-glob-to-any-file: .changeset/**

cms:
- changed-files:
  - any-glob-to-any-file: apps/cms/**
