Repository pagopa/developer-portal-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, packages, workflows, infra, changeset, cms

fix: standardize metadata type naming from 'release-notes' to 'release_notes'
  .changeset/wicked-sides-post.md
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: docs, changeset

Update .changeset/wicked-sides-post.md
  .changeset/wicked-sides-post.md
Labels: docs, changeset

[DEV-3237] fix: standardize metadata type naming (#63)
  .changeset/wicked-sides-post.md
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/tidy-lions-decide.md
  .changeset/wicked-sides-post.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Apply suggestion from @marcobottaro
  apps/strapi-cms/CHANGELOG.md
Labels: docs

Version Packages (#62)
  .changeset/tidy-lions-decide.md
  .changeset/wicked-sides-post.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

refactor: align guide middleware with main branch workflow trigger logic
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

changeset
  .changeset/swift-socks-brake.md
Labels: docs, changeset

Add onDemandVideoStartPoint to Webinars
  .changeset/heavy-cups-learn.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
Labels: docs, changeset

Apply suggestions from code review
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
Labels: none

Update lifecycles.ts
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
Labels: none

Update heavy-cups-learn.md
  .changeset/heavy-cups-learn.md
Labels: docs, changeset

Update heavy-cups-learn.md
  .changeset/heavy-cups-learn.md
Labels: docs, changeset

[DEV-3269] Add videoOnDemandStartAt attribute to Webinars (#65)
  .changeset/heavy-cups-learn.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/heavy-cups-learn.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

fix merging issues
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

add changeset
  .changeset/sixty-candies-beam.md
Labels: docs, changeset

update merging conflicts
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/webinar/content-types/webinar/lifecycles.ts
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

add changeset
  .changeset/shaggy-cows-walk.md
Labels: docs, changeset

update node version in Dockerfile
  apps/strapi-cms/Dockerfile
Labels: none

Update CHANGELOG and prepare next release (#66)
  .changeset/heavy-cups-learn.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Replace warning logs and early returns with error throws for missing IDs or directory names in Strapi lifecycles.
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
Labels: none

migrate logic
  .changeset/floppy-poems-fold.md
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/middlewares/documentHooks.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: docs, changeset

update package.json
  apps/strapi-cms/package.json
  package-lock.json
Labels: root

Fix NODE_IMAGE in Dockerfile, node and npm versions in package.json
  .node-version
  apps/strapi-cms/Dockerfile
  apps/strapi-cms/package.json
Labels: root

action to build and deploy strapi v5
  .github/workflows/deploy_strapi-v5.yaml
Labels: workflows

fix global env variable
  .github/workflows/deploy_strapi-v5.yaml
Labels: workflows

github action to deploy strapi v5
  .github/workflows/deploy_strapi-v5.yaml
Labels: workflows

update action deploy strapi v5
  .github/workflows/deploy_strapi-v5.yaml
Labels: workflows

update github action deploy strapi v5
  .github/workflows/deploy_strapi-v5.yaml
Labels: workflows

comments
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

Remove changeset for adding onDemandVideoStartPoint to Webinars
  .changeset/heavy-cups-learn.md
Labels: docs, changeset

fixi
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

invalidate
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

add id to data
  apps/strapi-cms/src/utils/validateProductPresence.ts
Labels: none

update dockerfile
  apps/strapi-cms/Dockerfile
Labels: none

Revert "update dockerfile"
  apps/strapi-cms/Dockerfile
Labels: none

Update packages
  apps/strapi-cms/package.json
  package-lock.json
Labels: root

fix index with new workflow trigger
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

add changeset
  .changeset/upset-otters-raise.md
Labels: docs, changeset

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
docs:
- changed-files:
  - any-glob-to-any-file: docs/**
  - any-glob-to-any-file: '**/*.md'


# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

# packages

packages:
- changed-files:
  - any-glob-to-any-file: packages/**

workflows:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
  
infra:
- changed-files:
  - any-glob-to-any-file: apps/infrastructure/**
  
changeset:
- changed-files:
  - any-glob-to-any-file: .changeset/**

cms:
- changed-files:
  - any-glob-to-any-file: apps/cms/**
