Repository pagopa/developer-portal-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, packages, workflows, infra, changeset, cms

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
docs:
- changed-files:
  - any-glob-to-any-file: docs/**
  - any-glob-to-any-file: '**/*.md'


# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

# packages

packages:
- changed-files:
  - any-glob-to-any-file: packages/**

workflows:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
  
infra:
- changed-files:
  - any-glob-to-any-file: apps/infrastructure/**
  
changeset:
- changed-files:
  - any-glob-to-any-file: .changeset/**

cms:
- changed-files:
  - any-glob-to-any-file: apps/cms/**

Add changeset
  .changeset/sad-donkeys-repair.md
Labels: docs, changeset

[DEV-2996] Add subtitle field to use-case (#33)
  .changeset/sad-donkeys-repair.md
  apps/strapi-cms/src/api/use-case/content-types/use-case/schema.json
Labels: docs, changeset

Add use case section to components
  apps/strapi-cms/src/api/overview/content-types/overview/schema.json
  apps/strapi-cms/src/components/overview/use-case-section.json
Labels: none

Add changeset
  .changeset/rare-rockets-poke.md
Labels: docs, changeset

[DEV-2998] Add UseCases component section to overview (#34)
  .changeset/rare-rockets-poke.md
  apps/strapi-cms/src/api/overview/content-types/overview/schema.json
  apps/strapi-cms/src/components/overview/use-case-section.json
Labels: docs, changeset

Add Markdown part to UseCases
  .changeset/big-chefs-love.md
  apps/strapi-cms/src/api/use-case/content-types/use-case/schema.json
Labels: docs, changeset

Add Markdown part to UseCases (#35)
  .changeset/big-chefs-love.md
  apps/strapi-cms/src/api/use-case/content-types/use-case/schema.json
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/big-chefs-love.md
  .changeset/crazy-mirrors-play.md
  .changeset/lucky-tables-hang.md
  .changeset/proud-guests-kneel.md
  .changeset/rare-rockets-poke.md
  .changeset/sad-donkeys-repair.md
  .changeset/tricky-ducks-wish.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release (#32)
  .changeset/big-chefs-love.md
  .changeset/crazy-mirrors-play.md
  .changeset/lucky-tables-hang.md
  .changeset/proud-guests-kneel.md
  .changeset/rare-rockets-poke.md
  .changeset/sad-donkeys-repair.md
  .changeset/tricky-ducks-wish.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Bump @strapi/strapi from 4.25.22 to 5.24.2
  apps/strapi-cms/package.json
Labels: none

Change incemental mode to true
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

Add changeset
  .changeset/early-masks-cut.md
Labels: docs, changeset

Update changeset
  .changeset/early-masks-cut.md
Labels: docs, changeset

Change changeset
  .changeset/early-masks-cut.md
Labels: docs, changeset

[DEV-3042] GitHub workflow incremental mode (#36)
  .changeset/early-masks-cut.md
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: docs, changeset

Remove github workflow trigger ater create and add guard for non published entities
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
  apps/strapi-cms/src/utils/validateProductPresence.ts
Labels: none

Add changeset
  .changeset/eight-showers-poke.md
Labels: docs, changeset

Add new flag isVisibleproduct to product schema
  apps/strapi-cms/src/api/product/content-types/product/schema.json
Labels: none

Add migration for the new flag
  apps/strapi-cms/database/migrations/2025.10.17T12.00.00.add-is-visible-flag-to-type-product.js
Labels: none

add changeset
  .changeset/five-cups-glow.md
Labels: docs, changeset

[DEV-3044] Add visibility toggle for products (#39)
  .changeset/five-cups-glow.md
  apps/strapi-cms/database/migrations/2025.10.17T12.00.00.add-is-visible-flag-to-type-product.js
  apps/strapi-cms/src/api/product/content-types/product/schema.json
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/early-masks-cut.md
  .changeset/five-cups-glow.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

[DEV-3041] Trigger GitHub workflow only on updates of published entities (#38)
  .changeset/eight-showers-poke.md
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
  apps/strapi-cms/src/utils/validateProductPresence.ts
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/early-masks-cut.md
  .changeset/eight-showers-poke.md
  .changeset/five-cups-glow.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release (#37)
  .changeset/early-masks-cut.md
  .changeset/eight-showers-poke.md
  .changeset/five-cups-glow.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update packages koa to 3.0.1 and axios to 1.12.0
  apps/strapi-cms/package.json
  package-lock.json
  package.json
Labels: root

add changeset
  .changeset/dry-coins-think.md
Labels: docs, changeset

Add check to verify that at least a version main exists
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
Labels: none

Add changeset
  .changeset/sharp-states-win.md
Labels: docs, changeset

[DEV-3020] Update axios and koa packages (#41)
  .changeset/dry-coins-think.md
  apps/strapi-cms/package.json
  package-lock.json
  package.json
Labels: root, docs, changeset

Fix typo
  .changeset/sharp-states-win.md
Labels: docs, changeset

[DEV-3086] Add a check in validateGuideVersion to verify that at least one version marked as main exists (#44)
  .changeset/sharp-states-win.md
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/dry-coins-think.md
  .changeset/sharp-states-win.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release (#45)
  .changeset/dry-coins-think.md
  .changeset/sharp-states-win.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Bump @strapi/strapi from 4.25.22 to 5.24.2
  apps/strapi-cms/package.json
Labels: none

Add enableFilters flag to api-data-list
  apps/strapi-cms/src/api/api-data-list-page/content-types/api-data-list-page/schema.json
Labels: none

Add changeset
  .changeset/mighty-pugs-begin.md
Labels: docs, changeset

[DEV-3105] Add ApiDataList flag to toggle filters (#46)
  .changeset/mighty-pugs-begin.md
  apps/strapi-cms/src/api/api-data-list-page/content-types/api-data-list-page/schema.json
Labels: docs, changeset

Add error with debug data
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
Labels: none

Update check for version main
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
Labels: none
