Repository pagopa/developer-portal-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, packages, workflows, infra, changeset, cms

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
docs:
- changed-files:
  - any-glob-to-any-file: docs/**
  - any-glob-to-any-file: '**/*.md'


# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

# packages

packages:
- changed-files:
  - any-glob-to-any-file: packages/**

workflows:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
  
infra:
- changed-files:
  - any-glob-to-any-file: apps/infrastructure/**
  
changeset:
- changed-files:
  - any-glob-to-any-file: .changeset/**

cms:
- changed-files:
  - any-glob-to-any-file: apps/cms/**

fix merging issues
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
  apps/strapi-cms/src/utils/validateGuideVersions.ts
Labels: none

fix merging issues
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/middlewares/documentHooks.ts
  package-lock.json
Labels: root

fix issue with merge
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/middlewares/documentHooks.ts
Labels: none

remove strapi-provider-upload-custom plugin
  apps/strapi-cms/package.json
  package-lock.json
  packages/strapi-provider-upload-custom/.eslintrc.json
  packages/strapi-provider-upload-custom/CHANGELOG.md
  packages/strapi-provider-upload-custom/package.json
  packages/strapi-provider-upload-custom/src/global.d.ts
  packages/strapi-provider-upload-custom/src/index.ts
  packages/strapi-provider-upload-custom/tsconfig.json
Labels: root, docs, packages

add changeset
  .changeset/violet-eels-cross.md
Labels: docs, changeset

fix ecs describe task command
  .github/workflows/deploy_strapi-v5.yaml
Labels: workflows

[DEV-3418] fix docker build by removing plugin (#72)
  .changeset/violet-eels-cross.md
  .github/workflows/deploy_strapi-v5.yaml
  apps/strapi-cms/package.json
  package-lock.json
  packages/strapi-provider-upload-custom/.eslintrc.json
  packages/strapi-provider-upload-custom/CHANGELOG.md
  packages/strapi-provider-upload-custom/package.json
  packages/strapi-provider-upload-custom/src/global.d.ts
  packages/strapi-provider-upload-custom/src/index.ts
  packages/strapi-provider-upload-custom/tsconfig.json
Labels: root, docs, packages, workflows, changeset

Add null to github access token to skip events
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

add provider local to fix image upload
  apps/strapi-cms/config/plugins.ts
Labels: none

update readme to fix deploy
  README.md
Labels: root, docs

update ecr repository name
  .github/workflows/deploy_strapi-v5.yaml
Labels: workflows

update ecr repository name
  .github/workflows/deploy_strapi-v5.yaml
Labels: workflows

Support for bulk ops
  .changeset/few-donuts-laugh.md
  apps/strapi-cms/src/middlewares/documentHooks.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: docs, changeset

Update few-donuts-laugh.md
  .changeset/few-donuts-laugh.md
Labels: docs, changeset

Update few-donuts-laugh.md
  .changeset/few-donuts-laugh.md
Labels: docs, changeset

Update apps/strapi-cms/src/middlewares/documentHooks.ts
  apps/strapi-cms/src/middlewares/documentHooks.ts
Labels: none

pr comments
  apps/strapi-cms/src/middlewares/documentHooks.ts
Labels: none

fix bug with apiData relation in apidatalistpage
  apps/strapi-cms/src/api/api-data-list-page/content-types/api-data-list-page/schema.json
Labels: none

update strapi to 5.33.3
  apps/strapi-cms/package.json
  package-lock.json
Labels: root

add changeset
  .changeset/hungry-regions-warn.md
Labels: docs, changeset

fix deploy action
  .github/workflows/deploy_strapi-v5.yaml
  apps/strapi-cms/config/plugins.ts
Labels: workflows

Add MarBert as a code owner for CMS and changelog files
  .github/CODEOWNERS
Labels: none

Fix default env value for sync trigger
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

add changeset
  .changeset/upset-buckets-learn.md
Labels: docs, changeset

Add MarBert as a code owner for CMS and changelog files (#76)
  .github/CODEOWNERS
Labels: none

[DEV-3095] Trigger workflow execution upon editing guides, solutions and release notes (#55)
  .changeset/orange-animals-rush.md
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
  apps/strapi-cms/src/utils/validateProductPresence.ts
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/orange-animals-rush.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Remove TypeScript ignore comments from documentHooks.ts
  apps/strapi-cms/src/middlewares/documentHooks.ts
Labels: none

set plugin provider to aws3
  apps/strapi-cms/config/plugins.ts
Labels: none

fix compile issues
  apps/strapi-cms/src/middlewares/documentHooks.ts
  apps/strapi-cms/src/utils/activeCampaignWebinar.ts
Labels: none

fix webinar validations
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/utils/activeCampaignWebinar.ts
Labels: none

remove code duplicate
  apps/strapi-cms/src/utils/activeCampaignWebinar.ts
Labels: none

Add locale handling to guide, release note, and solution lifecycle events
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
  apps/strapi-cms/src/utils/validateProductPresence.ts
Labels: none

Update CHANGELOG and prepare next release (#78)
  .changeset/orange-animals-rush.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Add redirectPath to tutorials
  .changeset/plain-carrots-double.md
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
Labels: docs, changeset

Add locale handling to guide, release note, and solution lifecycle events (#79)
  apps/strapi-cms/src/api/guide/content-types/guide/lifecycles.ts
  apps/strapi-cms/src/api/release-note/content-types/release-note/lifecycles.ts
  apps/strapi-cms/src/api/solution/content-types/solution/lifecycles.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
  apps/strapi-cms/src/utils/validateProductPresence.ts
Labels: none

Add changeset file
  .changeset/free-poets-rhyme.md
Labels: docs, changeset

Add changeset file (#81)
  .changeset/free-poets-rhyme.md
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/free-poets-rhyme.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release (#82)
  .changeset/free-poets-rhyme.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset
