Repository pagopa/developer-portal-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, packages, workflows, infra, changeset, cms

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
docs:
- changed-files:
  - any-glob-to-any-file: docs/**
  - any-glob-to-any-file: '**/*.md'


# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

# packages

packages:
- changed-files:
  - any-glob-to-any-file: packages/**

workflows:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
  
infra:
- changed-files:
  - any-glob-to-any-file: apps/infrastructure/**
  
changeset:
- changed-files:
  - any-glob-to-any-file: .changeset/**

cms:
- changed-files:
  - any-glob-to-any-file: apps/cms/**

Add the spaceId field to release notes, solutions and guide versions
  .changeset/hip-wolves-fix.md
  apps/strapi-cms/src/api/release-note/content-types/release-note/schema.json
  apps/strapi-cms/src/api/solution/content-types/solution/schema.json
  apps/strapi-cms/src/components/common/guide-version.json
Labels: docs, changeset

Add space_id assignment in update_dir_name script
  apps/strapi-cms/scripts/update_dir_names.sh
Labels: none

Add the spaceId field to release notes, solutions and guide versions (#109)
  .changeset/hip-wolves-fix.md
  apps/strapi-cms/src/api/release-note/content-types/release-note/schema.json
  apps/strapi-cms/src/api/solution/content-types/solution/schema.json
  apps/strapi-cms/src/components/common/guide-version.json
Labels: docs, changeset

Celan script
  apps/strapi-cms/scripts/update_dir_names.sh
Labels: none

Apply suggestions from code review
  apps/strapi-cms/scripts/update_dir_names.sh
Labels: none

[DEV-4021] Add script to update directory names in the database (#108)
  .changeset/metal-snakes-brush.md
  apps/strapi-cms/scripts/update_dir_names.sh
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/hip-wolves-fix.md
  .changeset/metal-snakes-brush.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release (#110)
  .changeset/hip-wolves-fix.md
  .changeset/metal-snakes-brush.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

remove aws credentials in plugin configuration file
  apps/strapi-cms/config/plugins.ts
Labels: none

+changeset
  .changeset/violet-badgers-lay.md
Labels: docs, changeset

Apply suggestions from code review
  .changeset/violet-badgers-lay.md
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/violet-badgers-lay.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Remove uniqueness constraint from slug and adjust guide schema attributes
  .changeset/fast-towns-accept.md
  apps/strapi-cms/src/api/guide/content-types/guide/schema.json
Labels: docs, changeset

fixes slug and title parameters
  apps/strapi-cms/src/utils/activeCampaignWebinar.ts
Labels: none

add changeset
  .changeset/fluffy-files-drum.md
Labels: docs, changeset

[DEV-4322] fix active campaign api call (#116)
  .changeset/fluffy-files-drum.md
  apps/strapi-cms/src/utils/activeCampaignWebinar.ts
Labels: docs, changeset

Remove uniqueness constraint from slug and adjust guide schema attributes (#115)
  .changeset/fast-towns-accept.md
  apps/strapi-cms/src/api/guide/content-types/guide/schema.json
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/fast-towns-accept.md
  .changeset/fluffy-files-drum.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release (#117)
  .changeset/fast-towns-accept.md
  .changeset/fluffy-files-drum.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Prevent duplicate product names and slugs in the same locale
  .changeset/lovely-paws-move.md
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/utils/validateProductUniqueness.ts
Labels: docs, changeset

Use native unique validation for product names and slugs
  apps/strapi-cms/src/api/product/content-types/product/schema.json
  apps/strapi-cms/src/index.ts
  apps/strapi-cms/src/utils/validateProductUniqueness.ts
Labels: none

format index ts
  apps/strapi-cms/src/index.ts
Labels: none

Make webinar dates mandatory
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
Labels: none

add changeset
  .changeset/rare-areas-change.md
Labels: docs, changeset
