Repository pagopa/developer-portal-cms, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, packages, workflows, infra, changeset, cms

fixes as requested
  .changeset/orange-animals-rush.md
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: docs, changeset

Update plain-carrots-double.md
  .changeset/plain-carrots-double.md
Labels: docs, changeset

Apply suggestion from @marcobottaro
  .changeset/plain-carrots-double.md
Labels: docs, changeset

[DEV-3601] Add redirectPath to tutorials (#80)
  .changeset/plain-carrots-double.md
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/plain-carrots-double.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release (#83)
  .changeset/plain-carrots-double.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

add locale to documenthook
  apps/strapi-cms/src/middlewares/documentHooks.ts
Labels: none

log error if locale is missing
  apps/strapi-cms/src/middlewares/documentHooks.ts
Labels: none

log error if locale is missing
  .changeset/long-bars-joke.md
Labels: docs, changeset

[DEV-3618] add locale to strapi 5 (#84)
  .changeset/long-bars-joke.md
  .changeset/orange-animals-rush.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  apps/strapi-cms/src/api/tutorial/content-types/tutorial/schema.json
  apps/strapi-cms/src/middlewares/documentHooks.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
  apps/strapi-cms/src/utils/validateProductPresence.ts
  package-lock.json
Labels: root, docs, changeset

Fix product schema to allow non-unique name and slug attributes
  apps/strapi-cms/src/api/product/content-types/product/schema.json
Labels: none

Add changeset to allow same name or slug for products in different languages
  .changeset/fast-banks-pay.md
Labels: docs, changeset

[DEV-3795] Fix product schema to allow non-unique name and slug attributes (#86)
  .changeset/fast-banks-pay.md
  apps/strapi-cms/src/api/product/content-types/product/schema.json
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/fast-banks-pay.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release (#87)
  .changeset/fast-banks-pay.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

update strapi plugin and strapi 5
  apps/strapi-cms/package.json
  package-lock.json
  package.json
Labels: root

add changest
  .changeset/witty-tables-change.md
Labels: docs, changeset

[DEV-3687] fix seo plugin on strapi 5 (#88)
  .changeset/witty-tables-change.md
  apps/strapi-cms/package.json
  package-lock.json
  package.json
Labels: root, docs, changeset

Update apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

[CAI-714] fix incremental sync (#77)
  .changeset/upset-buckets-learn.md
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/upset-buckets-learn.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release (#89)
  .changeset/upset-buckets-learn.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

fix docker dependencies issue
  apps/strapi-cms/.dockerignore
  apps/strapi-cms/Dockerfile
  apps/strapi-cms/package.json
  package-lock.json
Labels: root

Add chapters component to webinar schema and update playerCoverImage attributes
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
  apps/strapi-cms/src/components/webinar/chapter.json
Labels: none

add changeset
  .changeset/plain-dryers-think.md
Labels: docs, changeset

[DEV-3765] Add chapters to webinar and chapter component (#90)
  .changeset/plain-dryers-think.md
  apps/strapi-cms/src/api/webinar/content-types/webinar/schema.json
  apps/strapi-cms/src/components/webinar/chapter.json
Labels: docs, changeset

Update to docker file and plugin
  apps/strapi-cms/Dockerfile
  apps/strapi-cms/config/plugins.ts
Labels: none

update ref based on environment
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

add changeset
  .changeset/many-pants-read.md
Labels: docs, changeset

Add customMessagesMap single type and add showGuidesTranslationDisclaimer flag to guideVersion component
  .changeset/chilly-parks-bathe.md
  apps/strapi-cms/src/api/custom-messages-map/content-types/custom-messages-map/schema.json
  apps/strapi-cms/src/api/custom-messages-map/controllers/custom-messages-map.ts
  apps/strapi-cms/src/api/custom-messages-map/routes/custom-messages-map.ts
  apps/strapi-cms/src/api/custom-messages-map/services/custom-messages-map.ts
  apps/strapi-cms/src/components/common/custom-message.json
  apps/strapi-cms/src/components/common/guide-version.json
Labels: docs, changeset

Fix import statement formatting in custom-messages-map controller
  apps/strapi-cms/src/api/custom-messages-map/controllers/custom-messages-map.ts
Labels: none

[DEV-3916][DEV-3917] Add customMessagesMap single type and add showGuidesTranslationDisclaimer flag to guideVersion component (#93)
  .changeset/chilly-parks-bathe.md
  apps/strapi-cms/src/api/custom-messages-map/content-types/custom-messages-map/schema.json
  apps/strapi-cms/src/api/custom-messages-map/controllers/custom-messages-map.ts
  apps/strapi-cms/src/api/custom-messages-map/routes/custom-messages-map.ts
  apps/strapi-cms/src/api/custom-messages-map/services/custom-messages-map.ts
  apps/strapi-cms/src/components/common/custom-message.json
  apps/strapi-cms/src/components/common/guide-version.json
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/chilly-parks-bathe.md
  .changeset/plain-dryers-think.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: none

Apply suggestions from code review
  .changeset/many-pants-read.md
Labels: docs, changeset

Update CHANGELOG and prepare next release (#91)
  .changeset/chilly-parks-bathe.md
  .changeset/plain-dryers-think.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

[DEV-3900] Trigger github workflow runs on a specific commit based on environment (#92)
  .changeset/many-pants-read.md
  apps/strapi-cms/src/utils/triggerGithubWorkflow.ts
Labels: docs, changeset

Update CHANGELOG and prepare next release
  .changeset/many-pants-read.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

Update CHANGELOG and prepare next release (#94)
  .changeset/many-pants-read.md
  apps/strapi-cms/CHANGELOG.md
  apps/strapi-cms/package.json
  package-lock.json
Labels: root, docs, changeset

fix validation for slug
  apps/strapi-cms/src/utils/validateWebinarDates.ts
  apps/strapi-cms/src/utils/validateWebinarSlug.ts
Labels: none

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
docs:
- changed-files:
  - any-glob-to-any-file: docs/**
  - any-glob-to-any-file: '**/*.md'


# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'

# packages

packages:
- changed-files:
  - any-glob-to-any-file: packages/**

workflows:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
  
infra:
- changed-files:
  - any-glob-to-any-file: apps/infrastructure/**
  
changeset:
- changed-files:
  - any-glob-to-any-file: .changeset/**

cms:
- changed-files:
  - any-glob-to-any-file: apps/cms/**
